params {
    input = null
    outdir_base = null
    outdir_references = "${params.outdir_base}/references"
    outdir_fastp = "${params.outdir_base}/fastp"
    outdir_xengsort = "${params.outdir_base}/xengsort"
    hg38_fasta = null
    nsg_fasta = null
    outdir_multiqc = "${params.outdir_base}/multiqc"
}

profiles {
    docker {
        docker {
            enabled = true
        }
    }
    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
    }
    test {
        params {
            input = "${projectDir}/tests/test_samplesheet.csv"
            outdir_base = 'results_test'
            outdir_references = "results_test/references"
            outdir_fastp = "results_test/fastp"
            outdir_xengsort = "results_test/xengsort"
	    outdir_multiqc = "results_test/multiqc"
	}
    }
}
