manifest {
    name = 'tylergross97/nextflow_xengsort'
    author = 'Tyler Gross'
    description = 'Nextflow pipeline for xengsort classification'
    version = '1.0.0'
    mainScript = 'main.nf'
    homePage = 'https://github.com/tylergross97/nextflow_xengsort'
    defaultBranch = 'main'
}

params {
    input = null
    outdir_base = null
    outdir_references = "${params.outdir_base}/references"
    outdir_fastp = "${params.outdir_base}/fastp"
    outdir_xengsort = "${params.outdir_base}/xengsort"
    hg38_fasta = null
    nsg_fasta = null
    outdir_multiqc = "${params.outdir_base}/multiqc"
}

profiles {
    docker {
        docker {
            enabled = true
        }
    }
    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
    }
    
    test_minimal {
        process {
            // Reduce memory requirements for all processes in minimal test mode
            memory = '2.GB'
            cpus = 2
            
            // Specific configuration for memory-intensive processes
            withName: 'XENGSORT_CLASSIFY' {
                memory = '8.GB'
                cpus = 2
            }
            
            withName: 'XENGSORT_INDEX' {
                memory = '2.GB'
                cpus = 2
                // Use much smaller index for test data to reduce memory requirements
                ext.args = '-n 100000000 -k 25'
            }
        }
        params {
            input = "https://raw.githubusercontent.com/tylergross97/nextflow_xengsort/main/test_minimal/data/xengsort/samplesheet.csv"
            hg38_fasta = "https://raw.githubusercontent.com/tylergross97/nextflow_xengsort/main/test_minimal/data/xengsort/human.fa"
            nsg_fasta = "https://raw.githubusercontent.com/tylergross97/nextflow_xengsort/main/test_minimal/data/xengsort/mouse.fa"
            outdir_base = 'results_test_minimal'
            outdir_references = "results_test_minimal/references"
            outdir_fastp = "results_test_minimal/fastp"
            outdir_xengsort = "results_test_minimal/xengsort"
            outdir_multiqc = "results_test_minimal/multiqc"
        }
    }
    
    test_s3 {
        process {
            // Optimized for direct S3 access with Fusion
            memory = '4.GB'
            cpus = 2
            
            withName: 'XENGSORT_CLASSIFY' {
                memory = '12.GB'
                cpus = 4
            }
            
            withName: 'XENGSORT_INDEX' {
                memory = '12.GB'
                cpus = 4
                ext.args = '-n 100000000 -k 25'
            }
        }
        params {
            // Direct S3 paths from nf-core test data (no staging required)
            input = "s3://seqera-showcase/xengsort-test/samplesheet_s3.csv"
            hg38_fasta = "s3://ngi-igenomes/igenomes/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/genome.fa"
            nsg_fasta = "s3://ngi-igenomes/igenomes/Mus_musculus/UCSC/mm10/Sequence/WholeGenomeFasta/genome.fa"
            outdir_base = 'results_test_s3'
            outdir_references = "results_test_s3/references"
            outdir_fastp = "results_test_s3/fastp"
            outdir_xengsort = "results_test_s3/xengsort"
            outdir_multiqc = "results_test_s3/multiqc"
        }
    }
    
    test_full {
        process {
            // Full-scale resource settings for WES data
            withName: 'FASTP' {
                cpus = 8
                memory = '16.GB'
                time = '4.h'
            }
            
            withName: 'XENGSORT_INDEX' {
                cpus = 8
                memory = '32.GB'
                time = '2.h'
            }
            
            withName: 'XENGSORT_CLASSIFY' {
                cpus = 8
                memory = '32.GB'
                time = '6.h'
            }
            
            withName: 'MULTIQC' {
                cpus = 2
                memory = '4.GB'
                time = '30.min'
            }
        }
        
        params {
            // Input data
            input = "${projectDir}/test_full/data/full/samplesheet.csv"
            
            // Output directory
            outdir_base = "results_test_full"
            outdir_references = "results_test_full/references"
            outdir_fastp = "results_test_full/fastp"
            outdir_xengsort = "results_test_full/xengsort"
            outdir_multiqc = "results_test_full/multiqc"
            
            // Reference genomes from ngi-igenomes (AWS iGenomes)
            // Using standard paths in s3://ngi-igenomes bucket (eu-west-1 region)
            // These can be overridden via command line if needed
            hg38_fasta = "s3://ngi-igenomes/igenomes/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/genome.fa"
            nsg_fasta = "s3://ngi-igenomes/igenomes/Mus_musculus/UCSC/mm10/Sequence/WholeGenomeFasta/genome.fa"
            
            // Process settings for WES data
            fastp_args = "--detect_adapter_for_pe --cut_front --cut_tail --cut_mean_quality 20"
        }
        
        // Execution settings
        executor {
            queueSize = 4
            pollInterval = '30 sec'
        }
    }
}
