manifest {
    name = 'tylergross97/nextflow_xengsort'
    author = 'Tyler Gross'
    description = 'Nextflow pipeline for xengsort classification'
    version = '1.0.0'
    mainScript = 'main.nf'
    homePage = 'https://github.com/tylergross97/nextflow_xengsort'
    defaultBranch = 'main'
}

params {
    input = null
    outdir_base = null
    outdir_references = "${params.outdir_base}/references"
    outdir_fastp = "${params.outdir_base}/fastp"
    outdir_xengsort = "${params.outdir_base}/xengsort"
    hg38_fasta = null
    nsg_fasta = null
    outdir_multiqc = "${params.outdir_base}/multiqc"
}

profiles {
    docker {
        docker {
            enabled = true
        }
    }
    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
    }
    test {
        process {
            // Reduce memory requirements for all processes in test mode
            memory = '2.GB'
            cpus = 2
            
            // Specific configuration for memory-intensive processes
            withName: 'XENGSORT_CLASSIFY' {
                memory = '8.GB'
                cpus = 2
            }
            
            withName: 'XENGSORT_INDEX' {
                memory = '2.GB'
                cpus = 2
                // Use much smaller index for test data to reduce memory requirements
                ext.args = '-n 100000000 -k 25'
            }
        }
        params {
            input = "https://raw.githubusercontent.com/tylergross97/nextflow_xengsort/main/tests/data/xengsort/samplesheet.csv"
            hg38_fasta = "https://raw.githubusercontent.com/tylergross97/nextflow_xengsort/main/tests/data/xengsort/human.fa"
            nsg_fasta = "https://raw.githubusercontent.com/tylergross97/nextflow_xengsort/main/tests/data/xengsort/mouse.fa"
            outdir_base = 'results_test'
            outdir_references = "results_test/references"
            outdir_fastp = "results_test/fastp"
            outdir_xengsort = "results_test/xengsort"
	        outdir_multiqc = "results_test/multiqc"
	    }
    }
}
