/*
 * Full test configuration using PDX WES data
 * Run with: nextflow run main.nf -profile test_full
 */

params {
    // Input data
    input = "${projectDir}/test_full/data/full/samplesheet.csv"
    
    // Output directory
    outdir_base = "${projectDir}/results_test_full"
    
    // Reference genomes (user must provide these)
    // Example paths - update these to your actual genome locations
    hg38_fasta = params.hg38_fasta ?: "/path/to/GRCh38.primary_assembly.genome.fa"
    nsg_fasta = params.nsg_fasta ?: "/path/to/NOD_ShiLtJ.fa"
    
    // Process settings for WES data
    fastp_args = "--detect_adapter_for_pe --cut_front --cut_tail --cut_mean_quality 20"
}

// Process resource settings for full WES data
process {
    withName: 'FASTP' {
        cpus = 8
        memory = '16.GB'
        time = '4.h'
    }
    
    withName: 'XENGSORT_INDEX' {
        cpus = 8
        memory = '32.GB'
        time = '2.h'
    }
    
    withName: 'XENGSORT_CLASSIFY' {
        cpus = 8
        memory = '32.GB'
        time = '6.h'
    }
    
    withName: 'MULTIQC' {
        cpus = 2
        memory = '4.GB'
        time = '30.min'
    }
}

// Execution settings
executor {
    queueSize = 4
    pollInterval = '30 sec'
}
